/**
* Flexlay Fill
*
* This simple class allows a flex element to try and fill its parent in both axes
*/

@import '../variables';

@mixin flex-fill() {
  [fl-layout-fill] {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
}
