/**
* Flexlay Offset
*
* https://developer.mozilla.org/en/docs/Web/CSS/margin
*/
@import '../variables.scss';

/** Given a breakpoint name, generate offset (through margin) selectors */
@mixin flex-offsets($break: null) {
  $suffix: if($break, '-#{$break}', '');
  $prop: '#{$lib-prefix}offset#{$suffix}';
  $increment: 5;

  @for $i from 0 through 19 {
    [#{$prop}="#{$i * $increment}"] {
      margin-left: if($i != 0, #{$i * 5 + '%'}, 0);
    }
  }

  @each $i in 33, 66 {
    [#{$prop}="#{$i}"] {
      margin-left: calc(#{$i * 100 + '%'} / 3);
    }
  }
}
