/**
* Flex Media Queries
*
* This files uses the different modules and 'assigns' them to the media queries depending on Material Layout Breakpoints
*/

@import 'variables.scss';

@import 'modules/order.scss';
@import 'modules/offset.scss';
@import 'modules/alignment.scss';

@import 'modules/layout.scss';
@import 'modules/properties.scss';

@mixin layout($break: null) {
  @include flex-orders($break);
  @include flex-offsets($break);
  @include flex-alignments($break);

  @include flex-layouts($break);
  @include flex-properties($break);
}

@include layout();

$buckets: (
  xs: (max: $break-xs),
  sm: (min: $break-xs, max: $break-sm),
  md: (min: $break-sm, max: $break-md),
  lg: (min: $break-md, max: $break-lg),
  xl: (min: $break-lg),
);

@each $bucket in map-keys($buckets) {

  $min: map-get(map-get($buckets, $bucket), min);
  $max: map-get(map-get($buckets, $bucket), max);

  @if $min == null {
    @media (max-width: $max) {
      div.#{$bucket} { color: yellow; }
    }
  }

  @else if $max == null {
    @media (min-width: $min) {
      div.#{$bucket} { color: red;}
    }
  }

  @else {
    @media (min-width: $min) and (max-width: $max) {
      div.#{$bucket} { color: blue; }
    }
  }

  // Also the greater than media queries
  @if $max != null {
    @media (min-width: $max) {
      div.gt-#{$bucket} { color: purple; }
    }
  }

}
