/**
* Flex Media Queries
*
* This files uses the different modules and 'assigns' them to the media queries depending on Material Layout Breakpoints
*/

@import 'variables.scss';

@import 'modules/order.scss';
@import 'modules/offset.scss';
@import 'modules/alignment.scss';

@import 'modules/layout.scss';
@import 'modules/properties.scss';

// Groups module mixins as a single layout mixin
@mixin layout($break: null) {
  @include flex-orders($break);
  @include flex-offsets($break);
  @include flex-alignments($break);

  @include flex-layouts($break);
  @include flex-properties($break);
}

// Given a content block, limit it to a given media bounds
@mixin bounded($min: null, $max: null) {
  @if $min == null {
    @media (max-width: $max - 1) { @content; }
  }
  @else if $max == null {
    @media (min-width: $min) { @content; }
  }
  @else {
    @media (min-width: $min) and (max-width: $max - 1) { @content; }
  }
}

// Default rules
@include layout();

// Definition of layout buckets
// If you need to change the buckets (either number or place), modify the variables and this map
// and everything will automagically adjust. Thanks SCSS.
$buckets: (
  xs: (max: $break-xs),
  sm: (min: $break-xs, max: $break-sm),
  md: (min: $break-sm, max: $break-md),
  lg: (min: $break-md, max: $break-lg),
  xl: (min: $break-lg),
);


// Generate the rules per each bucket
@each $bucket in map-keys($buckets) {

  $min: map-get(map-get($buckets, $bucket), min);
  $max: map-get(map-get($buckets, $bucket), max);

  @include bounded($min, $max) { @include layout(#{$bucket}) };
  @if $max != null { @include bounded($max) { @include layout(gt-#{$bucket}) }; }

}
