/**
* Flex Layout Variables
*
* Variables of shared use through the modules
*/

// Common variables
$lib-prefix: 'fl-';

// Layout breakpoints
$break-xs: 600px !default;
$break-sm: 960px !default;
$break-md: 1280px !default;
$break-lg: 1920px !default;

// Breakpoint boundaries
$break-bounds: (
  xs: (max: $break-xs),
  sm: (min: $break-xs, max: $break-sm),
  md: (min: $break-sm, max: $break-md),
  lg: (min: $break-md, max: $break-lg),
  xl: (min: $break-lg)
);
